:root{
    --font_title:"Cormorant SC",serif;
    --font-txt:"Theano";
    --menu-font:"Darker Grotesque",sans-serif;
    --color-ftMenu:rgba(41,47,45,1);
    --color-off:#abd1c6;
  --brand-color3:rgba(51,92,110, 1) ;
  --brand-color2: rgba(78,119,130, 1);
  --brand-color1:rgba(91,191,190, 1) ;
  --brand-color0:rgba(247,247,246) ;
  --font-Menu:"Bebas Neue", sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap);
@font-face {
    font-family: 'Theano';
    src: url(font/TheanoDidot-Regular.woff) format('woff'),
         url(font/TheanoDidot-Regular.woff2) format('woff2');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.scroll-reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.scroll-reveal.active {
  opacity: 1;
  transform: translateY(0);
}




body p{
    font-family: var(--font-txt);
    font-weight: 400;
}

body{
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    overflow-x: hidden;
    width: 100%;
}

/* fonts*/

a{
    font-family: var(--font-Menu);
    font-size: 1.25rem;
    font-weight: 400;
}

header{
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #333;
  padding: 1rem 2rem;
  color: rgba(255, 255, 255, 0.2);
  position: relative;
}

nav{
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem;
    z-index: 6;
    gap: 3rem;
}

.logo{
    position: fixed;
    display: block;
    z-index: 6;
      top: 0;
    right: 0;
    left: 0;
    padding: 1rem;
}

nav a{
    text-decoration: none;
    color: rgba(41, 47, 45, 1);
    font-family: var(--menu-font);
    font-weight: 200;
    font-size: 12.7px;
}

nav .agnd{
    color: rgba(41, 47, 45, 1);
    font-family: var(--menu-font);
    font-weight: 500;
}

.logo {
  font-size: 1.5rem;
}


.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}


.nav-links a {
  color: rgba(41, 47, 45, 1);;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.menu-toggle {
    display: none; /* escondido no desktop */
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links a:hover {
  color: #000000;
}



.color-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 90vh;
    background-color: rgba(32, 26, 22, 0.6);
    z-index: 2;
    width:100% ;
}


.loading-content-fill{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;   
}

.section_home{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    height: 85vh;

}

.txt-overlay{
    position: relative;
    justify-items: center;
    align-self: center;
    width: 100%;
    z-index: 4;
    top: 26vh;
    

}

.txt-overlay>img{
    height: 30vh;
    width: fit-content;
}

.txt-overlay>p{
    text-align: center;
    width: 50%;
     color: #f7f7f6;
}

.txt-overlay>h1{
    font-family: var(--font_title);
    font-weight: 400;
    margin-top: 2rem;
    color: #f7f7f6;
}

main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 85vh;
}
 
/*section1*/

.section-1 .content-wrapper{
    display: flex;
    flex-direction: row;
    background: url(/img/section1.webp) no-repeat center center;
    background-size: cover;
    object-fit: fill;
}
.content-wrapper> img{
    height: 75vh;
    width: 75vw;
    object-fit: fill;
    padding: 3rem;
    margin-left: 16%;
    z-index: 1;
    border-radius: 6px;
}

.content-wrapper>.intro{
    position: relative;
    left: -6rem;
    top: 6rem;
     border-radius: 0.1rem;
    backdrop-filter: blur(13.8px);
    padding: 2rem;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(255,255,255,0.2), rgba(255,255,255,0.2));
    width: 100%;
    height: fit-content;
    min-height: 70px;
    mix-blend-mode: hard-light;
    align-content: center;
    text-align: center;
    z-index: 3;
    display: flex;
    flex-direction: column;

}
.bt-intro{
    margin-top: 1rem;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.intro>h2{
    font-family: var(--font_title);
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-size: 1.55rem;
}

.intro>h4{
        font-family: var(--font-txt);
        font-weight: 500;
        font-size: 1.2rem;
        padding-top: 2rem;
    }

.bt-intro >a{
    text-decoration: none;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    padding: 0.8rem;
    border-radius: 1rem;
    color: #1f1e1e;
    font-family: var(--menu-font);
    font-weight: 500;
    font-size: 0.9rem;
    width: fit-content;
    min-width: fit-content;
}

.bt-intro{
    margin: 1rem auto;
}

/*section2*/

#section2{
    
    max-width: 100%;
    width: 100%;
    background-color:#ffffff;
    height: 95vh;
    
}

.container{
    text-align: center;

}

.container h4{
    margin-bottom: 6rem;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding-left:1rem ;
    padding-right: 1rem;
     background: #ffffff;
}

.servicos{
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  width: 80%;
  justify-content: center;
  max-width: 100%;
 

}

.main{
    width: 100%;
    text-align: center;
    position: relative;
   
    
}

.service{
    padding: 1.56rem;
    border-radius: 0.625rem;
    position: relative;
    width: 20vw;
    /* background-color: var(--brand-color0); */
    bottom: 0;
    z-index: 1;
    height: 19.8125rem;
    margin: auto;
}



.service-logo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: -90px auto 0;
    justify-items: center;
    /* background: var(--brand-color0); */
    /* border: 18px  solid #f4f6f3; */
    
}

.service-logo >svg, path {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-self: center;
    /* margin-top: 20px; */
}

.service h4{
    height: 35px;
    width: 80%;
    /* background: var(--brand-color0); */
    margin: 15px auto;
    position: relative;
}



.col-md{
    padding: 4rem;
}





/*section3*/

#section3{
    background: url(/img/watercolor.webp) no-repeat center center;
      clip-path: polygon(0% 0%, 0% 75%, 50% 100%, 100% 75%, 100% 0%);
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-size: cover;
    height: auto;
    padding: 6rem;
    inset: 0px auto auto;
    transform: translateY(-101.588px);
    display: block;
    align-content: center;
    
}

.info-about >svg{
    height: 10rem;
    width: 20rem;
    
}

.info-about{
    padding: 3rem;
    
    justify-items: center;
}

.info-about ul{
    width: 100%;
}

.info-about p{
    font-family: var(--font-txt);
    font-size: 1rem;
    font-weight: 400;
    align-content: center;
    
}

/*section4*/

#section4{
       background: url(/img/team-bg.webp) no-repeat center center ;
    height: 100%;
    width: 100%;
    background-size: cover;
    margin-top: 2rem;


}

.section-team{
    width: 100%;
    max-width: 100%;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    
   
}
/* .section-team span.circle_tl{
    border-radius: 100%;
    height: 5vh;
    width: 5vw;
    background-color: var(--brand-color1);

} */

.section-team h5{
    font-family: var(--menu-font);
    font-size: 1rem;
    margin-left: 0.8rem;
}

.section-team span{
    margin-left: 1.5rem;
   
}

.section-team span > img{
    margin-bottom: 20rem;
}
.box-team{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 90%;
     padding-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 2rem;

}

.box-team .card-team >img{
        height: 20rem;
        width: auto;
        object-fit: fill;
        border-radius: 0.2rem;
        box-shadow: 9.91px 9.91px 15px #E1E1E0, -9.91px -9.91px 15px #FFFFFF;
}

.box-team .card-team{
    text-align: center;
    font-family: var(--font-txt);
   
}

.section-team>a{
    text-decoration: none;
    display: flex;
    width: fit-content;
    justify-self: center;
    background-color: rgba(47, 47, 46, 1);
    box-shadow: 9.91px 9.91px 15px #E1E1E0, -9.91px -9.91px 15px #FFFFFF;
    color: #f7f7f6;
    padding: 0.5rem;
    font-family: var(--menu-font);
    border-radius: 1rem;
    
}
.section-team a>i{
   background-color: rgba(47, 47, 46, 1);
}

.w-contato {
  position: fixed;
  z-index:5 ;
  inset: auto 1vw 2vh auto;
  display: flex;
  align-content: center;
  padding: 0.5rem;  
   
    
}

/*section5*/
.para-empr{
    height: 85vh;
}

#section5{
    width: 100%;
}

.placeHolder{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    height: 24vh;
    
}



.placeHolder svg,path{
    height: 8rem;
    width: 8rem;
    position: relative;
    top: 10rem;
    justify-self: center;
    z-index: 3;
background: rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 10px solid rgba(0, 0, 0, 0.01);
    border-radius: 50%;
    /* background: rgba(20, 20, 20, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px); */
}

.para-empr img{
    width: 100%;
    height: 80vh;
    object-fit: fill;
    position: relative;
    z-index: 1;
}



.para-empr .df-placeholder{
    position: relative;
    z-index: 2;
      background: rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    top: -30rem;
    width: 85%;
    left: 5rem;
    height: fit-content;
    color: #fff;
    text-align: center;
    padding: 3.3rem;

}

.df-placeholder h5{
    font-family: var(--font_title);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.7rem;
    
}

.df-placeholder p{
    font-family: var(--font-txt);
    margin-bottom: 2.8rem;
    font-size: 1.2rem;
}

.df-placeholder> a{
    text-decoration: none;
    color: #fff;
    border: 0.1rem #ffffff solid;
    padding: 0.7rem;  
    border-radius: 0.5rem; 
}


/*footer*/
.footer {
  background-color: #f9f9f9;
  color: #1a1a1a;
  padding: 40px 20px 20px;
  font-family: 'Georgia', serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-logo> svg, path {
 width: 11rem;
 height: 12rem;
 align-self: center;
}



.footer-column {
  flex: 1 1 220px;
}

.footer-column h4 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 6px 0;
}

.footer-column ul li a,
.footer-column p a {
  text-decoration: none;
  font-size: 14px;
  color: #1a1a1a;
  font-family: 'Georgia', serif;
}

.footer-column a:hover {
  text-decoration: underline;
  text-decoration-color: #1a1a1a;
}

.footer-column p {
  margin: 10px 0;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #e0e5e7;
  text-align: center;
  font-size: 14px;
  height: 6vh;
}

.footer iframe {
  width: 100%;
  max-width: 100%;
  height: 200px;
  border: none;
}

.footer-bottom>a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 12px;
    
}



/* Responsivo */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    
    text-align: center;
  }

  .footer-column >h4{
    text-align: center;
  }

  .footer-column, .footer-logo {
    width: 100%;
  }

  .footer iframe {
    height: 250px;
  }
}

.w-contato a{
    background-color: transparent;
    border: none;
}
.w-contato a>svg{
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
}




@media screen and (max-width:768px) {
    
    body,a,p {
  font-size: clamp(1rem, 2vw, 1.125rem);

}
html{
    max-width: 100%;
}
 
figure{
    height: 40vh;
    object-fit: fill;
}

 .menu-toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 999;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 998;
    padding: 1rem;
  }

  .nav-links.show {
    display: flex;
  }


   



.section_home{
    height: 45vh;
   
}    
    body,content-wrapper{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

.txt-overlay h1{
    font-family: var(--font_title);
    font-size: 1rem;
    font-weight: 500;
}

.txt-overlay p{
    font-family: var(--font_title);
    width: 80%;

}


.color-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    background-color: rgba(32, 26, 22, 0.7);
    z-index: 2;
    width:100% ;

}


.loading-content-fill{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;  
    height: auto;
    width: auto; 
}


.txt-overlay{
    
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(32, 26, 22, 0.1);
    z-index: 2;
}


.txt-overlay img{
    
    height: 8rem;
    width: fit-content;
}

    nav{
        width:100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

nav>a{
    text-decoration: none;
    color: var(--color-ftMenu); 

}

nav > .agnd{
    color: var(--color-ftMenu); 
    font-size: 14px;
    width: 10vw;
    
    height: fit-content;
    border-radius: 1rem;
    padding: 0.39rem;
}

  .nav-links {
    display: none;
    flex-direction: column;
    background-color:inherit;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    width: 100%;
   background: #ffffff;
border-radius: 1%;
box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
    height: fit-content;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    
    padding: 0.5rem 0.5rem;
  }

  /*section1*/
  .section-1{
    position: relative;
    height: 65vh;
    margin-top: 3rem;
  }

.content-wrapper{
    width: 100%;
}


.content-wrapper> img{
    justify-self: center;
    margin-left: 0;
    padding: 0;

}

img.img-intro{  
  position: relative;
  z-index: 1;
  justify-self: center;
  height: 70%;
  
  width: 100%;
 
}

.section-1 div >.intro{
    padding: 2rem;

    justify-self: center;
    position: absolute;
    width: 100%;
    top: 6%;
    z-index: 2;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.8px);
-webkit-backdrop-filter: blur(5.8px);
border: 1px solid rgba(255, 255, 255, 0.3);

   }

   .content-wrapper> .intro{
    left: 0;
    height: 65%;
    text-align: center;
    
    
   }
   
.section-1 div .bt-intro>a{
    text-decoration: none;
    text-align: center;
    color: #f7f7f6;
    padding: 0.19rem;
    border-radius: 0.2rem;
    font-size: 14px;
}

.bt-intro{
     height: fit-content;
     background-color: #444;
     display: flex;
     align-content: center;
     width: fit-content;
     justify-self: center;
     border-radius: 6px;
     margin-top: 1rem;
     border-radius: 0.75rem;
}



.intro h2{
    font-family: var(--font_title);
    font-weight: 300;
    /* color: #fff; */
     mix-blend-mode: overlay;
   
    
}
.intro h4{
    font-family: var(--font-txt);
    font-weight: 500;
    font-size: 1rem;
     mix-blend-mode: darken;
}

.intro>h2,h4,a{
    padding: 2rem;
    
}
/*section2*/

#section2{
    height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row{
    display: flex;
    flex-direction: column;
 
}



.service{
    padding: 1.56rem;
    border-radius: 0.625rem;
    position: relative;
    width: 20vw;
    /* background-color: var(--brand-color0); */
    bottom: 0;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.service-logo>svg,path{
    height: 9rem;
    width: 8rem;
}

/*section3*/


#section3{
    display: flex;
    flex-direction: column;
   width: 100%;
   justify-items: flex-start;
   height: fit-content;
   padding: 1.2rem;
}

.info-about>p{
    font-family: var(--font-txt);
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    padding: 0;
    margin: 0;
}
   
.info-about{
    width: 100%;
}

/*section4*/

#section4{
    justify-content: center;
}

.section-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    
}


.lev_writte > h5,img{
    justify-self: flex-start;
}
.lev_writte>img{
    width: 90%;
    margin-left: 0.5rem;  
    margin-bottom: 5rem;
}

.section-team>h5{
    font-family: robot;
    font-weight: 500;
    text-align: left !important;
    font-size: 1.7rem;
    margin-left: -16rem;
}

/*cards*/



.card-team{
    background-color: transparent;
    height: fit-content;
   
   
}

.card-team>img{
    height: 24rem;
    width: auto;
    object-fit: fill;
  
}
.card-team>.photo-team{
    width: 16rem;
    height: 24.5rem;
    object-fit: fill;
}

/* .blank-sc{
 background-color: rgba(255, 255, 255, 0.8);
   position: relative;
   z-index: 1;
   
   top: -6rem;
   width: 100%;
   justify-items: flex-end;

} */
.box-team{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    gap:0.5rem ;
    
}

.blank-sc>p,h4{
    color: rgba(41,47,45,1);
    margin-right: 2rem;
    padding-top: 0.05rem;
    padding-bottom: 0.08rem;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    
}
.section-team>a.btn-sc{
    background-color: var(--brand-color3);
    padding: 0.4rem;
    border-radius: 0.4rem;
    justify-content: center;
    
}
.section-team a.btn-sc{
    color: #fffefc;
    text-decoration: none;
}

/*/section5*/
#section5{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f6;
}

#section5>.placeHolder{
    height: fit-content;
    width: fit-content;
    border-radius: 100%;
    background-color: #f7f7f6;
    align-self: center;
    position: relative;
    top: 3.5rem;
}

.placeHolder>svg,path{
    height: 6rem;
    width: 6rem;
    object-fit: fill;
    position: relative;
    top: 1rem;
    
}

.para-empr{
    width: 100%;
    height: 35vh;


}

.para-empr>img{
    width: 100%;
    height: 40rem;
    object-fit: fill;
    position: relative;
    z-index: 1;
    
}

.para-empr>.df-placeholder{
    background: rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
    height: 55vh;
    justify-self: center;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    top: -38rem;
    left: 0;
    right: 0;
    color: #f7f7f6;
    z-index: 2;
    padding: 1.2rem 1.2rem;
}

.df-placeholder>h5{
    font-family: var(--font_title);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    padding: 4rem;
}

.df-placeholder>p{
    font-family: var(--font-txt);
    font-size: 1rem;
}

.df-placeholder>a{
    text-align: center;
    text-decoration: none;
    color: #f7f7f6;
    border-color: rgba(253, 251, 251, 0.5);
    border: 0.05rem solid;
    padding: 0.35rem;
}

/*footrt*/

footer{
    display: flex;
    flex-direction: column;
    margin-top: 26rem;
}


footer>svg,path{
 height: 9rem;
 width: 100%;
}

.links-r {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 0.25rem;
}

.links-r> a{
    text-decoration: none;
    color: var(--color-ftMenu);
    font-family: var(--menu-font);
}

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.29rem;
    margin-top: 1rem;
    align-content: center;
}

.contato a{
    text-decoration: none;
    color: var(--color-ftMenu);
    font-family: var(--menu-font);
}

.contato>h5{
    font-family: var(--font_title);
    font-size: 14px;
    font-weight: 400;
}

.mail> svg.svg-m{
    height: 3rem;
    width: 3rem;
}

.whats-contato>svg.svg-w{
    height: 3rem;
    width: 3rem;
}

.contato>.mail{
    display: flex;
}

.contato>whats-contato{
    display: flex;
}


.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.75rem;
}

.map>h5,h6{
    font-family: var(--font_title);
    font-size: 1rem;
}
.map>p{
    padding: 1.75rem;
}
iframe{
    align-self: center;
    padding: 0.45rem 0.45rem;
}

footer p.crd{
    background-color: #444;
    text-align: center;
    font-family: var(--menu-font);
    font-size: 12px;
    color: #f7f7f6;
}
footer a.credito{
    text-decoration: none;
    text-align: center;
    color: #444;
}

}

