* {
  box-sizing: border-box;
}


:root{
    --font_title:"Cormorant SC",serif;
    --font-txt:"Theano";
    --menu-font:"Darker Grotesque",sans-serif;
    --color-ftMenu:rgba(41,47,45,1);
    --color-off:#abd1c6;
  --brand-color3:rgba(51,92,110, 1) ;
  --brand-color2: rgba(78,119,130, 1);
  --brand-color1:rgba(91,191,190, 1) ;
  --brand-color0:rgba(247,247,246) ;
  --font-Menu:"Bebas Neue", sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap);
@font-face {
    font-family: 'Theano';
    src: url(font/TheanoDidot-Regular.woff) format('woff'),
         url(font/TheanoDidot-Regular.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: 'Georgia', serif;
  background: #f4f4f4;
  color: #333;
  overflow-y: hidden;
}

nav {
  border-bottom: #7d7b7b 0.03rem solid;
  border-radius: 6px;
  width: 100%;
  height: 10vh;
  padding: 0.35rem 1px;
  display: flex;
  align-items: center; 
justify-content: flex-end;
gap: 3rem;
padding-right:2rem ;
  
}




nav a{
  text-decoration: none;
  font-family: var(--font-Menu);
  color: #333;
  font-weight: 300;
  font-size: 14px;
}
small{
  font-size: 1rem;
}

.placeHolder >svg,path{
  height: 3.5rem;
  width: 4.5rem;
  filter: contrast(0);
  position: absolute;
  left: 0;
  top: 5px;
}

.button{
  background-color: var(--brand-color1);
  height: 2rem;
  align-content: center;
  width: fit-content;
  border-radius: 1rem;
}

.button>a{
  padding: 1rem 1rem;
  font-family: var(--font-Menu);
  color: #fff;

}

main {
  display: flex;
  flex-direction: row; /* <== Garantido para Desktop */
  flex-wrap: wrap;
  width: 100%;
}

/* Intro */
.intro {
  padding: 0.7rem;
  width: 30%;
  text-align: center;
}

.intro h1 {
  font-size: 2rem;
  font-family: var(--font_title);
  color: var(--color-ftMenu);
  font-weight: 400;
  margin-bottom: 10px;
}

.intro p {
  font-family: var(--font-txt);
  color: var(--color-ftMenu);
  font-weight: 400;
  font-size: 1.3rem;
  max-width: 600px;
  margin: 0 auto;
}

/* Membro */
.membro {
  display: none;
  max-width: 55rem;
  margin: 2.5rem auto;
  gap: 2.5rem;
  padding: 0 1.25rem;
  flex: 1;
}

.membro.ativo {
  display: flex;
}

.foto-central {
  flex: 1;
  text-align: center;
  background-color: rgba(41,47,45,0.3);
  border-radius: 3px;
}

.foto-central img {
  width: 19rem;
  transform: rotate(-6deg);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.descricao {
  flex: 2;
  text-align: center;
}

.descricao h2 {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.descricao small {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: var(--font-txt);
}

.descricao p {
  font-size: 1rem;
  line-height: 1.6;
    font-weight: 400;
  font-family: var(--font-txt);
}

/* Botões */
.botoes {
  text-align: center;
  padding-right: 7rem;
}

.botoes button {
  background: #bfbfbf;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 1.2rem;
  margin: 0 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.botoes button:hover {
  background: #bbb;
}

/* Miniaturas */
.miniaturas {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  padding: 1vh 0.1rem;
  flex-wrap: wrap;
}

.miniatura {
  width: 4rem;
  height: 5.25rem;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s, transform 0.3s;
}

.miniatura:hover {
  transform: scale(1.05);
}

.miniatura.ativa {
  border: 2px solid #999;
  padding: 0.09rem;
}

/* Footer */
.footer-page {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 3rem;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  body{
    overflow-y: auto !important;
  }

  .intro {
    width: 100%;
    padding: 1rem;
  }


  .membro{
    display: flex;
    flex-direction: column;
  }
  .membro.ativo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .foto-central img {
    width: 80%;
    transform: rotate(-3deg);
  }

  .descricao {
    width: 100%;
    padding: 0 1rem;
  }

  .botoes {
    padding-right: 0;
  }

  .footer-page{
    display: none;
  }
}
